In [3]:
import pandas as pd
df = pd.read_excel("D:\Anime\Anime\ZImp\my_excel.xlsx")

In [4]:
df

,variable,Temperature,Precipitation Total,Wind Speed,Wind Direction
0,2020-11-08 00:00:00,-7.241812,0.0,51.716103,28.705948
1,2020-11-08 01:00:00,-7.511812,0.2,52.497080,27.795135
2,2020-11-08 02:00:00,-7.691812,0.3,52.165226,27.095550
3,2020-11-08 03:00:00,-7.821812,0.4,52.022180,24.968979
4,2020-11-08 04:00:00,-7.931812,0.3,53.557785,22.945724
...,...,...,...,...,...
187,2020-11-15 19:00:00,-5.081812,0.0,27.067116,283.851440
188,2020-11-15 20:00:00,-5.891812,0.0,24.336637,277.650670
189,2020-11-15 21:00:00,-6.471812,0.0,22.424270,275.527530
190,2020-11-15 22:00:00,-7.021812,0.0,21.388970,276.766170
191,2020-11-15 23:00:00,-7.991812,0.0,20.124610,280.304870

In [8]:
df=df['Temperature'].drop

In [9]:
df

<bound method Series.drop of 0     -7.241812
1     -7.511812
2     -7.691812
3     -7.821812
4     -7.931812
         ...
187   -5.081812
188   -5.891812
189   -6.471812
190   -7.021812
191   -7.991812
Name: Temperature, Length: 192, dtype: float64>

In [10]:
df

<bound method Series.drop of 0     -7.241812
1     -7.511812
2     -7.691812
3     -7.821812
4     -7.931812
         ...
187   -5.081812
188   -5.891812
189   -6.471812
190   -7.021812
191   -7.991812
Name: Temperature, Length: 192, dtype: float64>

In [1]:
import pandas as pd
df = pd.read_excel("D:\Anime\Anime\ZImp\my_excel.xlsx")

In [2]:
df = df['Wind Speed'].drop

In [3]:
df

<bound method Series.drop of 0      51.716103
1      52.497080
2      52.165226
3      52.022180
4      53.557785
         ...
187    27.067116
188    24.336637
189    22.424270
190    21.388970
191    20.124610
Name: Wind Speed, Length: 192, dtype: float64>

In [ ]:
df.d